{% extends 'index.html' %}
{% block welcome_message %}
{% endblock %}
{% block content %}

<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 50px;
    }

    form label {
        margin-bottom: 10px;
        width: 200px;
        display: block;
        font-size: 20px;
    }

    form input {
        margin-bottom: 10px;
        width: 200px;
        display: block;
    }

    form input[type="submit"] {
        width: auto;
    }
</style>
<p style="font-size: 25px; text-align: center">Täytä tietosi:</p>

<form action="/register" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <label for="first_name">Etunimi:</label>
    <input type="text" name="first_name" id="first_name">

    <label for="last_name">Sukunimi:</label>
    <input type="text" name="last_name" id="last_name">
    
    <label for="password">Salasana:</label>
    <input type="password" name="password" id="password">
    
    <label for="email">Sähköposti:</label>
    <input type="email" name="email" id="email">
    
    <label for="phone_number">Puhelinnumero:</label>
    <input type="text" name="phone_number" id="phone_number">
    
    <input type="submit" value="Luo tunnus">
</form>

{% endblock %}