{% extends 'index.html' %}

{% block welcome_message %}
{% endblock %}

{% block content %}
<body style="text-align: center;">
    <h1>Valitse poistettava varaus:</h1>
    
    <form action="/deleted_reservation" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="reservation">Valitse varaus:</label>
        <select name="reservation" id="reservation">
            {% if reservations %}
                {% for reservation in reservations %}
                    <option value="{{ reservation[0] }}">{{ reservation[2] }} - {{ reservation[3] }}: {{ reservation[1] }}</option>
                {% endfor %}
            {% else %}
                <option disabled>Ei varauksia</option>
            {% endif %}
        </select><br><br>
        
        <input type="submit" value="Poista varaus">
    </form>
</body>
{% endblock %}