{% extends 'index.html' %}
{% block welcome_message %}
{% endblock %}
{% block content %}

<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 50px;
    }

    form label {
        margin-bottom: 10px;
        width: 200px;
        display: block;
        font-size: 20px;
    }

    form input {
        margin-bottom: 10px;
        width: 200px;
        display: block;
    }

    form input[type="submit"] {
        width: auto;
    }
</style>

<p style="font-size: 25px; text-align: center">Täytä tietosi:</p>

<form action="/result" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <label for="email">Sähköposti:</label>
    <input type="text" name="email" id="email">
    
    <label for="password">Salasana:</label>
    <input type="password" name="password" id="password">
    
    <input type="submit" value="Kirjaudu sisään">

    <p style="font-size: 20px; text-align: center;">Eikö vielä ole tunnusta? <a href="/create_account">Luo käyttäjätunnus</a></p>
</form>

{% endblock %}